@th-white-color: #fff;
@th-primary-color: #ff7800;
@th-guide-primary-color: #91f2e2;
@th-leader-color: #d39e6f;
@th-title-color: #0d0d0d;
@th-caption-color: #9fa6a4;
@th-item-title-color: #565958;
@th-color-orange: #ffbf40;
@th-color-red: #ff4048;
@th-link-color: #40aeff;

@th-font-size-llg: 32px;
@th-font-size-lg: 24px;
@th-font-size-sm: 12px;
@th-font-size-base: 14px;
@th-font-size-m: 16px;

@th-font-weight-base: 400;
@th-font-weight: bold;

@th-font-family: 'Alibaba PuHuiTi 2';

@th-font-margin-base: 8px;
@th-font-margin-sm: 12px;
@th-font-margin-m: 16px;
@th-font-margin-lg: 24px;
@th-font-margin-llg: 32px;

@th-font-padding-base: 8px;
@th-font-padding-sm: 12px;
@th-font-padding-m: 16px;
@th-font-padding-lg: 24px;
@th-font-padding-llg: 32px;
