@nr-white-color: #fff;
@nr-primary-color: #ff7800;
@nr-guide-primary-color: #91f2e2;
@nr-leader-color: #d39e6f;
@nr-title-color: #252626;
@nr-caption-color: #9fa6a4;
@nr-item-title-color: #565958;
@nr-color-orange: #ffbf40;
@nr-color-red: #ff4048;
@nr-link-color: #40aeff;

@nr-font-size-llg: 32px;
@nr-font-size-lg: 24px;
@nr-font-size-sm: 12px;
@nr-font-size-base: 15px;
@nr-font-size-m: 16px;

@nr-padding-base: 19px;

@nr-font-family: 'Alibaba PuHuiTi 2';
